.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
    @include pad {
    max-width: 100%;
    padding: 0 36px;
    }
    @include mobile {
    padding: 0 13px;
    }
}
.header {
    &-box {    
        justify-content: space-between;
        align-items: center;
        @include pad {
            padding: 0 39px;
        }
        @include mobile {
            padding: 0 15px;
        }
    }
    background-color: $primary;
    &-logo{
        background: url(../images/logo.png) no-repeat center;
        background-size: contain;
        width: 80px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        padding: 30px 0;
        &:hover{
            color: $secondary;
            opacity: 0.5;
            transition: all .3s;
        }
        @include mobile{
            width: $text-4xl;
            margin: 0 auto;
            padding: 15px 0;
        }
    }
    &-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &-item{
        padding: 0 $text-xl;
        @include mobile {
            width: 50%;
            border: 1px solid $white;
        }
        a{
            color: $white;
            font-size: $text-m;
            line-height: 1.5;
            @include mobile{
                font-size: $font-size-base;
                padding: 12px 0;
            }
        }
        @include mobile{
            text-align: center;
        }
    }
    &-link {
        font-size: $text-m;
        color: #FFFFFF;
    }
    &-link:hover{
        color: $secondary;
        transition: .5s;
    }
    &-hamburger {
        &-logo {
            background: url(../images/logo.png) no-repeat center;
            background-size: contain;
            width: 80px;
            text-indent: 101%;
            white-space: nowrap;
            overflow: hidden;
            padding: 30px 0;
        }
    }
}
.footer {
    background-color: $primary;
    &-link {
        padding: 0 $text-l;
        padding-top: 44px;
        padding-bottom: $text-2xl;
        color: #FFFFFF;
        &:hover {
            color: $secondary;
            transition: .5s;
        }
        @include pad {
            padding: $text-2xl 40px $text-l 0;
        }
    }
    &-social {
        &-link {
            padding-top: 30px;
            padding-left: $text-2xl;

            img {
                &:hover {
                    border-radius: 10px;
                    opacity: 0.6;
                }
                @include pad {
                    width: $text-l;
                    height: $text-l;
                }
            }
            @include pad {
                padding-top: $text-xl;
                padding-left: $text-l;
            }
            @include mobile {
                padding-top: $text-l;
            }
        }
    }
    &-contact {
        border-bottom: 1px solid $white;
        padding-bottom: $text-l;
        @include pad {
            padding-bottom: $text-m;
        }
        @include mobile {
            border-bottom: 0;
            padding-top: 25px;
            padding-bottom: $text-l;
        }
        &-link {
            padding-bottom: $font-size-base;
            @include pad {
                padding-bottom: 12px;
            }
            @include mobile {
                padding-bottom: 6px;
            }
            a {
                font-size: $text-2xl;
                color: #FFFFFF;
                @include pad {
                    font-size: $text-m;
                }
                @include mobile {
                    font-size: $text-m;
                }
                &:hover {
                    color: $secondary;
                    transition: .8s;
                }
            }
            img {
                width: $text-4xl;
                height: $text-4xl;
                @include pad {
                    width: $text-l;
                    height: $text-l;
                }
                @include mobile {
                    width: $text-m;
                    height: $text-m;
                }
            }

        }
    }
    &-copyright {
        padding-top: $text-xl;
        padding-bottom: 40px;
        @include pad {
            padding-top: $text-l;
            padding-bottom: $text-xl;
        }
        @include mobile {
            padding-top: $font-size-base;
            padding-bottom: $text-l;
        }
        p {
            color: #FFFFFF;
            @include mobile {
                font-size: 14px;
            }
        }
    }
    &-privacy {
        &-item {
            a {
                font-size: 14px;
                color: #FFFFFF;
                @include mobile {
                    font-size: 14px;
                }
            }
        }
    }
}
.hamburger-menu {
    background-color: $primary;
    opacity: 0.97;
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 84px;
    right: 0;
    transform: scaleY(0);
    transition: transform .3s ease-in-out;
    transform-origin: 50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hamburger-item {
    margin: 25px 0;
}
.hamburger-item a {
    color: #ffffff;
}
.hamburger-item a:hover{
    color: #fe5000;
    transition: .5s;
}
#toggler:checked ~ .hamburger-menu {
    transform: scaleY(1);
}

.hamburger  {
    position: relative;
    width: 30px;
    height: 15px;
    padding: 10px 5px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.hamburger span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.hamburger span:nth-child(1) {
    top: 0px;
}
.hamburger span:nth-child(2),.hamburger span:nth-child(3) {
    top: 10px;
}
.hamburger span:nth-child(4) {
    top: 20px;
}
.hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.hamburger.open span:nth-child(2) {
    transform: rotate(45deg);
}
.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
}
.hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}