.page {
    &-item {
        a {
            font-size: 18px;
            color: #555555;
            outline: 1px solid #555555;
            padding: 12px 16px;
            @include mobile {
                padding: 10px 15px;
            }
            &:hover {
                background-color: #000000;
                color: #FFFFFF;
                transition: .5s;
            }
            &:nth-child(0n+2) {
                background-color: #000000;
                color: #FFFFFF;
            }
        }
    }
    &-list {
        margin-bottom: 80px;
        @include mobile {
            margin-bottom: 64px;
        }
    }
}

.forward-btn, .next-btn {
    a {
        font-size: 19px;
        color: #555555;
        padding: 11px 12px;
        outline: 1px solid #555555;
        &:hover {
            background-color: #000000;
            color: #FFFFFF;
            transition: .5s;
        }
        @include mobile {
            width: 75px;
            font-size: 16px;
            padding: 12px 13px 12px 14px;
        }
    }
}
.next-btn {
    background-color: #F2F2F2;
}
