@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  max-width: 1140px;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .container {
      max-width: 100%;
      padding: 0 39px; } }
  @media (max-width: 767px) {
    .container {
      padding: 0 15px; } }

@media (max-width: 767px) {
  .row {
    padding: 0 15px; } }

.header {
  background-color: #AA0601; }
  .header-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 88px; }
    @media (max-width: 992px) {
      .header-box {
        padding: 0 39px; } }
    @media (max-width: 767px) {
      .header-box {
        padding: 0 15px; } }
  .header-logo {
    background: url(../images/logo.png) no-repeat center;
    background-size: contain;
    width: 80px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    padding: 30px 0; }
    .header-logo:hover {
      color: #650300;
      opacity: 0.5;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    @media (max-width: 767px) {
      .header-logo {
        width: 48px;
        margin: 0 auto;
        padding: 15px 0; } }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header-item {
    padding: 0 32px; }
    @media (max-width: 767px) {
      .header-item {
        width: 50%;
        border: 1px solid #ffffff; } }
    .header-item a {
      color: #ffffff;
      font-size: 20px;
      line-height: 1.5; }
      @media (max-width: 767px) {
        .header-item a {
          font-size: 16px;
          padding: 12px 0; } }
    @media (max-width: 767px) {
      .header-item {
        text-align: center; } }
  .header-link {
    font-size: 20px;
    color: #FFFFFF; }
  .header-link:hover {
    color: #650300;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0.5; }
  .header-hamburger-logo {
    background: url(../images/logo.png) no-repeat center;
    background-size: contain;
    width: 80px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    padding: 30px 0; }

.footer {
  background-color: #AA0601; }
  .footer-link {
    padding: 0 24px;
    padding-top: 44px;
    padding-bottom: 36px;
    color: #FFFFFF; }
    .footer-link:hover {
      color: #650300;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    @media (max-width: 992px) {
      .footer-link {
        padding: 32px 40px 24px 0; } }
  .footer-social-link {
    padding-top: 30px;
    padding-left: 32px; }
    @media (max-width: 992px) {
      .footer-social-link img {
        width: 24px;
        height: 24px; } }
    @media (max-width: 992px) {
      .footer-social-link {
        padding-top: 32px;
        padding-left: 24px; } }
    @media (max-width: 767px) {
      .footer-social-link {
        padding-top: 24px; } }
  .footer-contact {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 24px; }
    @media (max-width: 992px) {
      .footer-contact {
        padding-bottom: 20px; } }
    @media (max-width: 767px) {
      .footer-contact {
        border-bottom: 0;
        padding-top: 25px;
        padding-bottom: 24px; } }
    .footer-contact-link {
      padding-bottom: 16px; }
      @media (max-width: 992px) {
        .footer-contact-link {
          padding-bottom: 12px; } }
      @media (max-width: 767px) {
        .footer-contact-link {
          padding-bottom: 6px; } }
      .footer-contact-link a {
        font-size: 36px;
        color: #FFFFFF; }
        @media (max-width: 992px) {
          .footer-contact-link a {
            font-size: 20px; } }
        @media (max-width: 767px) {
          .footer-contact-link a {
            font-size: 20px; } }
      .footer-contact-link img {
        width: 48px;
        height: 48px; }
        @media (max-width: 992px) {
          .footer-contact-link img {
            width: 24px;
            height: 24px; } }
        @media (max-width: 767px) {
          .footer-contact-link img {
            width: 20px;
            height: 20px; } }
  .footer-copyright {
    padding-top: 32px;
    padding-bottom: 40px; }
    @media (max-width: 992px) {
      .footer-copyright {
        padding-top: 24px;
        padding-bottom: 32px; } }
    @media (max-width: 767px) {
      .footer-copyright {
        padding-top: 16px;
        padding-bottom: 24px; } }
    .footer-copyright p {
      color: #FFFFFF; }
      @media (max-width: 767px) {
        .footer-copyright p {
          font-size: 14px; } }
  .footer-privacy-item a {
    font-size: 14px;
    color: #FFFFFF; }
    @media (max-width: 767px) {
      .footer-privacy-item a {
        font-size: 14px; } }

.line {
  color: #FFFFFF;
  margin: 0; }

.hamburger-menu {
  background-color: #AA0601;
  opacity: 0.97;
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 84px;
  right: 0;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.hamburger-item {
  margin: 25px 0; }

.hamburger-item a {
  color: #ffffff; }

.hamburger-item a:hover {
  color: #fe5000;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

#toggler:checked ~ .hamburger-menu {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1); }

.hamburger {
  position: relative;
  width: 30px;
  height: 15px;
  padding: 10px 5px;
  position: relative;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.hamburger span:nth-child(1) {
  top: 0px; }

.hamburger span:nth-child(2), .hamburger span:nth-child(3) {
  top: 10px; }

.hamburger span:nth-child(4) {
  top: 20px; }

.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover; }

a {
  text-decoration: none;
  display: block; }

.pr-5 {
  padding-right: 32px; }

.pl-5 {
  padding-left: 32px; }

.second-title {
  font-size: 48px;
  font-weight: bold; }
  .second-title h2 {
    border-left: 8px solid #9F1213;
    padding-left: 16px; }
  @media (max-width: 767px) {
    .second-title {
      font-size: 28px; } }

.pb-74 {
  padding-bottom: 74px; }

@media (max-width: 992px) {
  .pb-md-03 {
    padding-bottom: 3px; } }

.page-item a {
  font-size: 18px;
  color: #555555;
  border: 1px solid #555555;
  padding: 12px 16px; }
  @media (max-width: 767px) {
    .page-item a {
      padding: 5px 15px; } }
  .page-item a:hover {
    background-color: #000000;
    color: #FFFFFF;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .page-item a:nth-child(0n+2) {
    background-color: #000000;
    color: #FFFFFF; }

.page-list {
  margin-bottom: 160px; }
  @media (max-width: 992px) {
    .page-list {
      margin-bottom: 96px; } }
  @media (max-width: 767px) {
    .page-list {
      margin-bottom: 56px; } }

.forward-btn a, .next-btn a {
  font-size: 19px;
  color: #555555;
  padding: 11px 12px;
  border: 1px solid #555555; }
  .forward-btn a:hover, .next-btn a:hover {
    background-color: #000000;
    color: #FFFFFF;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  @media (max-width: 767px) {
    .forward-btn a, .next-btn a {
      font-size: 12px;
      padding: 10px 11px; } }

/*--common--*/
.subtitle {
  font-size: 48px;
  color: #650300;
  font-weight: bold;
  text-align: center; }
  @media (max-width: 992px) {
    .subtitle {
      font-size: 32px; } }
  @media (max-width: 767px) {
    .subtitle {
      font-size: 20px; } }

/*--區塊1-banner--*/
.indexBanner {
  background: url(../images/banner.png) no-repeat 50% 50%;
  height: 787px; }
  @media (max-width: 767px) {
    .indexBanner {
      background: url(../images/banner-sm.png) no-repeat 0% 0%;
      background-size: cover;
      height: 396px; } }
  .indexBanner-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .indexBanner-title h3 {
      font-size: 36px;
      color: #650300; }
      @media (max-width: 992px) {
        .indexBanner-title h3 {
          font-size: 20px; } }
      @media (max-width: 767px) {
        .indexBanner-title h3 {
          font-size: 16px; } }
    .indexBanner-title h2 {
      font-size: 64px;
      color: #650300;
      font-weight: bold; }
      @media (max-width: 992px) {
        .indexBanner-title h2 {
          font-size: 48px; } }
      @media (max-width: 767px) {
        .indexBanner-title h2 {
          font-size: 24px; } }
  .indexBanner-buyBtn {
    background-color: #AA0601;
    color: #FFFFFF;
    padding: 6px 12px;
    margin-top: 4px; }
    @media (max-width: 767px) {
      .indexBanner-buyBtn {
        margin-top: 8px;
        font-size: 20px; } }
    .indexBanner-buyBtn:hover {
      color: #FFFFFF;
      background-color: #650300;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }

/*--區塊2-function--*/
.function {
  background-color: #FBF2F2;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .function {
      padding-bottom: 56px; } }
  @media (max-width: 767px) {
    .function {
      padding-bottom: 40px; } }
  .function h3 {
    padding-top: 80px;
    padding-bottom: 24px; }
    @media (max-width: 992px) {
      .function h3 {
        padding: 40px 0; } }
    @media (max-width: 767px) {
      .function h3 {
        padding-top: 40px;
        padding-bottom: 24px;
        font-size: 24px; } }
  .function-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px; }
    @media (max-width: 992px) {
      .function-list {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
  .function-item {
    width: 23%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 992px) {
      .function-item {
        width: 48%;
        margin-bottom: 32px; } }
    @media (max-width: 767px) {
      .function-item {
        width: 100%;
        margin-bottom: 24px; } }
    .function-item h4 {
      font-size: 24px;
      padding-top: 24px;
      padding-bottom: 8px;
      color: #650300;
      font-weight: bold;
      text-align: center; }
      @media (max-width: 767px) {
        .function-item h4 {
          padding-top: 16px; } }
  .function-img img {
    height: 100px; }

/*--區塊3-classic--*/
.classic {
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .classic {
      margin-bottom: 40px; } }
  .classic-title {
    font-size: 48px;
    margin-top: 80px;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .classic-title {
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 24px; } }
  .classic-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .classic-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 31%; }
    @media (max-width: 992px) {
      .classic-item {
        width: 100%;
        margin-bottom: 24px; } }
  .classic-img img {
    height: 416px; }
    @media (max-width: 992px) {
      .classic-img img {
        height: 336px; } }
    @media (max-width: 767px) {
      .classic-img img {
        height: 348px; } }
  .classic-text h4 {
    font-size: 48px;
    color: #AA0601;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold; }

/*--區塊4-design--*/
.design {
  background: url(../images/bg.png) no-repeat 50% 50%;
  height: 608px; }
  @media (max-width: 992px) {
    .design {
      height: 960px; } }
  @media (max-width: 767px) {
    .design {
      height: 820px; } }
  .design-title {
    padding-top: 80px;
    padding-bottom: 48px; }
    @media (max-width: 767px) {
      .design-title {
        padding-top: 40px;
        padding-bottom: 24px; } }
    .design-title h3 {
      font-size: 48px;
      color: #FFFFFF;
      text-align: center; }
      @media (max-width: 767px) {
        .design-title h3 {
          font-size: 20px; } }
  .design-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .design-item {
    width: 50%; }
    @media (max-width: 992px) {
      .design-item {
        width: 100%;
        margin-bottom: 24px; } }
  .design-text {
    width: 100%;
    background-color: #FFFFFF; }
    .design-text h3 {
      text-align: center;
      color: #AA0601;
      font-size: 48px;
      font-style: italic;
      font-weight: bold;
      padding: 8px 0; }
  .design-bg-one {
    background: url(../images/home-section4-1.png) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 240px; }
    @media (max-width: 992px) {
      .design-bg-one {
        width: 100%;
        height: 240px; } }
    @media (max-width: 767px) {
      .design-bg-one {
        width: 100%;
        height: 240px; } }
  .design-bg-two {
    background: url(../images/home-section4-2.png) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 240px; }
    @media (max-width: 992px) {
      .design-bg-two {
        width: 100%;
        height: 240px; } }
    @media (max-width: 767px) {
      .design-bg-two {
        width: 100%;
        height: 240px; } }

/*--區塊5-recommand--*/
.recommend {
  margin-top: 60px;
  margin-bottom: 80px; }
  .recommend h3 {
    font-size: 48px;
    color: #650300;
    text-align: center;
    font-weight: bold;
    padding-bottom: 40px; }
    @media (max-width: 992px) {
      .recommend h3 {
        font-size: 32px;
        padding-bottom: 32px; } }
    @media (max-width: 767px) {
      .recommend h3 {
        font-size: 20px;
        padding-top: 40px;
        padding-bottom: 24px; } }
  @media (max-width: 992px) {
    .recommend {
      margin-top: 40px;
      margin-bottom: 56px; } }
  @media (max-width: 767px) {
    .recommend {
      margin-top: 0px;
      margin-bottom: 40px; } }
  .recommend-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 767px) {
      .recommend-list {
        padding: 0; } }
  @media (max-width: 992px) {
    .recommend-item {
      width: 46.5%; } }
  @media (max-width: 767px) {
    .recommend-item {
      width: 100%; } }
  .recommend-item img {
    width: 100%;
    height: 256px;
    border-radius: 4px 4px 0px 0px; }
    @media (max-width: 767px) {
      .recommend-item img {
        height: 306px; } }
  @media (max-width: 992px) {
    .recommend-item {
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .recommend-item {
      margin-bottom: 32px; } }
  @media (max-width: 767px) and (max-width: 767px) {
    .recommend-item {
      margin-bottom: 16px; } }
  .recommend-box {
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px; }
    .recommend-box h4 {
      font-size: 14px;
      padding-top: 16px;
      padding-left: 16px; }
  .recommend-text {
    height: 204px;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .recommend-text h5 {
      font-size: 14px;
      color: #707070; }

/*--區塊6-contact--*/
.contact {
  background: #FBF2F2;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .contact {
      padding-bottom: 56px; } }
  @media (max-width: 767px) {
    .contact {
      padding-bottom: 40px; } }
  .contact h3 {
    color: #650300;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 24px; }
    @media (max-width: 992px) {
      .contact h3 {
        font-size: 32px;
        padding-top: 40px;
        padding-bottom: 24px; } }
    @media (max-width: 767px) {
      .contact h3 {
        font-size: 24px;
        padding-top: 40px;
        padding-bottom: 24px; } }
  .contact-form {
    width: 73%;
    margin: 0 auto; }
    @media (max-width: 992px) {
      .contact-form {
        width: 60.65%; } }
    @media (max-width: 767px) {
      .contact-form {
        width: 100%; } }
    .contact-form p {
      font-size: 20px;
      padding-bottom: 20px; }
      @media (max-width: 992px) {
        .contact-form p {
          font-size: 16px;
          padding-bottom: 16px; } }
    .contact-form-title {
      padding-bottom: 4px; }
      @media (max-width: 992px) {
        .contact-form-title {
          padding-bottom: 8px; } }
  .contact-input {
    padding: 6px 12px; }
    @media (max-width: 767px) {
      .contact-input {
        margin-bottom: 8px; } }
    @media (max-width: 767px) {
      .contact-input {
        margin-bottom: 16px; } }
  .contact-textarea {
    height: 50px; }
    @media (max-width: 767px) {
      .contact-textarea {
        height: 136px; } }
  .contact-check-btn {
    width: 416px;
    margin: 0 auto;
    margin-top: 48px; }
    @media (max-width: 992px) {
      .contact-check-btn {
        width: 336px; } }
    @media (max-width: 767px) {
      .contact-check-btn {
        width: 100%;
        margin-top: 24px; } }
  .contact-check-btn a {
    padding: 16px 0px;
    background-color: #AA0601;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contact-check-btn a:hover {
      color: #FFFFFF;
      background-color: #650300;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    @media (max-width: 767px) {
      .contact-check-btn a {
        padding: 16px 0; } }

/*# sourceMappingURL=all.css.map */
