@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
*,*::before,*::after{
    box-sizing: border-box;
}
body {
    font-family:'Roboto', 'Noto Sans', sans-serif;
    font-size: $font-size-base;
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
a{
    text-decoration: none;
    display: block;
}
