.pr-5{
    padding-right: $text-xl;
}
.pl-5{
    padding-left: $text-xl;
}
.second-title {
    font-size: $text-4xl;
    font-weight: bold;
    h2 {
        border-left: 8px solid #9F1213;
        padding-left: $font-size-base;
    }
    @include mobile {
        font-size: $text-l;
    }
}